.suggestion-type {
	background: url(../../../../img/svg/suspect.svg) no-repeat 0 6px / 20px;
	font-size: 14px;
	padding: 8px 0 8px 25px;
}
.suggestion-type.weapon {
	background-image: url(../../../../img/svg/wrench.svg);
}
.suggestion-type.room {
	background-image: url(../../../../img/svg/room-tan.svg);
}
.suggestion-type.player {
	background-image: url(../../../../img/svg/person-tan.svg);
}

.bt.suggestion-modal {
	background-position: 14px 9px;
	background-repeat: no-repeat;
	background-size: 24px;
	margin-bottom: 8px;
	padding: 12px 16px 12px 47px;
}

.bt.send-suggestion {
	background-image: url(../../../../img/svg/send-suggestion.svg);
}

.bt.make-accusation {
	background-image: url('../../../../img/svg/gavel.svg');
}
