/* .section */

	.sec-Suspects,
	.sec-Weapons {
		margin-bottom: -1px;
	}

		.header {
			background: #231; /* green */
			color: #EEE;
			font-size: 18px;
			padding: 12px 8px;
			text-transform: capitalize;
		}
